@font-face { font-family: KFGQPC HafsEx1 Uthmanic Script; src: url('./UthmanicHafs1Ex1Ver12.otf'); } 
#container{
  background-color : whitesmoke;
  color:black;
  width: 400px;
  border-radius: 3px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#surah {
  color:black;
  font-family: 'Noto Naskh Arabic UI';
  direction:rtl;
  position: relative;
  top: 0px;
  margin:0 0.5em;
}

#bismillah {
  font-family: 'KFGQPC HafsEx1 Uthmanic Script';
  direction: rtl;
  font-size: 2em;
  text-align: center;
  margin-bottom: 0;
}

#text {
  color: #292929;
  font-family: 'KFGQPC HafsEx1 Uthmanic Script';
  direction: rtl;
  font-size: 2em;
  padding: 20px;
  margin-bottom:50px;
  margin-top: 0;
  padding-bottom:20px;
}

.next-button {
  border: 0px;
  border-radius: 3px;
  color:white;
  position: absolute;
  right:20px;
  bottom:20px;
  background:#D8A05B;
}
